body {
  background-color: #277faf;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: auto;

}

.login-label {
  margin-top: 15vw;
  display: flex;
}

.login-h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
}

.login-input {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-img {
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button.active {
  background: #00a896;
}

.login-button.disabled {
  background: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1020px) {
  .login-img {
    width: 550px;
  }
}

@media (max-width: 920px) {
  .login-img {
    width: 450px;
  }
}

@media (max-width: 820px) {
  .login-img {
    width: 350px;
  }
}

@media (max-width: 720px) {
  .login-img {
    width: 250px;
  }
}

@media (max-width: 620px) {
  .login-img {
    display: none;
  }
}

@media (max-width: 520px) {
  .login-img {
    width: 50px;
  }
}
